@import "../../vars.css";

.container {
  position: relative;
  margin: 129px 10% 0 10%;
  display: flex;
  justify-content: space-between;
}
.apresentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: var(--color-white);
  text-transform: uppercase;
  font: 700 35px/1.75 var(--font-robot-condensed);
}
.description {
  color: var(--color-white);
  text-align: justify;
  margin-bottom: 1em;
}
.content {
  display: flex;
  flex-direction: column;
}
.aboutImage {
  width: 50%;
  border-radius: 50%;
  box-shadow: 8px 15px 10px 0px rgba(1, 6, 50, 0.87);
  margin-bottom: 5em;
}
.aboutItems {
  padding: 5em 0 2em 0;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: solid 2px var(--color-white);
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    50deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(223, 116, 40, 0.849) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.aboutItem:hover {
  background-size: 100% 100%;
}
.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

@media screend and (max-width: 768px) {
}
