:root {
  /*Colours*/
  --color-white: #fff;
  --color-primary: #576cbc;
  --color-secundary: #19376d;
  --color-dark: #0b2447;
  --color-purple: #281259;
  --color-bg: #04152d;
  --color-orange: #190634;
  --color-dark-purple: #2c1250;
  --color-light-purple: #44238c;
  --color-orange-secundary: #ff8c00;
  --color-orange-terciary: #ff4500;

  /*Fonts */
  --font-robot: "Roboto";
  --font-Inconsolata: "Inconsolata";
  --font-robot-condensed: "Roboto Condensed", sans-serif;

  /*Effects*/
  --effect-shadow: 0px 4px 10px 10px #100814;
  --effect-shadow-purples: 0px 4px 10px 10px #663398;
  --effect-shadow-light: 5px 4px 6px rgba(245, 245, 245, 0.805);
  --effect-linear-gradient: linear-gradient(135deg, #120926, #281259);
  --effect-shadow-purple: 0px -10px 0px 0px #44238c;
}
