:root {
  /*Colours*/
  --color-white: #fff;
  --color-primary: #576cbc;
  --color-secundary: #19376d;
  --color-dark: #0b2447;
  --color-dark-blue: #092635;
  --color-bg: #04152d;
  --color-orange: #e3651d;
  --color-orange-secundary: #ff8c00;
  --color-orange-terciary: #ff4500;

  /*Fonts */
  --font-robot: "Roboto";
  --font-Inconsolata: "Inconsolata";
  --font-robot-condensed: "Roboto Condensed", sans-serif;

  /*Effects*/
  --efect-shadow: 0px 4px 10px 10px #411e09;
  --efect-shadow-orange: 0px 4px 10px 10px #ff4500;
}
