@import "../../vars.css";
.title {
  margin: 79px 10%;
  color: var(--color-white);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.subtitle {
  margin-bottom: 50px;
}
.container {
  color: var(--color-white);
  margin: 79px 10%;
  display: flex;
  margin-bottom: 50px;
}
.container_learning {
  background-color: var(--color-white);
  margin: 79px 10%;
  display: flex;
  padding: 2em;
  height: 200px;
  justify-content: space-between;
}
.slide_item {
  margin-left: 80px;
  height: 100px;
  object-fit: cover;
}
.image_learning {
  padding: 1em;
  height: 100px;
}

.figcaption_learning {
  color: var(--color-dark-blue);
  text-align: center;
}
figcaption {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-white);
}

@media screen and (max-width: 728px) {
  .container {
    flex-wrap: wrap;
    padding: 1em;
  }
  .container_learning {
    flex-wrap: wrap;
    height: 100%;
  }
}
