.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 0 20% 10%;
  max-width: 100%;
}
.title {
  color: var(--color-white);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.content {
  margin-top: 5%;
  display: flex;
  gap: 20%;
  margin-right: 10%;
}
.soft_skills {
  display: grid;
  width: 50%;
  gap: 11px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.skillImageContainer {
  max-width: 80%;
  max-height: 100%;
  cursor: pointer;
  border: solid 2px var(--color-white);
  border-radius: 20%;
  padding: 1em;
  box-shadow: var(--efect-shadow-orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skillImageContainer img {
  width: 50px;
}
.skillImageContainer img:hover {
  opacity: 0.5;
}
.legend {
  margin-top: 10px;
  color: var(--color-white);
}

.container_text {
  background-color: var(--color-dark-blue);
  max-width: 30%;
  text-align: center;
  border-radius: 30px;
  box-shadow: var(--efect-shadow);
  color: var(--color-white);
  margin-bottom: 5%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_card {
  display: none;
}
@media screen and (max-width: 728px) {
  .container {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .content {
    display: none;
  }
  .container_card {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }
  .softSkillImage {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
  }

  .container_card img {
    margin-top: 15%;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 5%;
    position: relative;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    border-radius: 20%;
    padding: 1em;
    border: solid 2px var(--color-white);
  }

  .container_card img:hover {
    transform: translateY(-10px);
    box-shadow: var(--efect-shadow-orange);
  }

  .title_card {
    color: var(--color-dark-blue);
    padding: 1em;
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 68%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 20px;
    border: 2px solid var(--color-white);
    border-radius: 10px;
    z-index: 999;
    width: 60%;
    max-width: 280px;
    text-align: justify;
  }

  .popup button {
    margin-top: 10px;
  }
  .buttonClose {
    padding: 10px;
    margin: 30% 30% 0 30%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);
    background: linear-gradient(
      to right,
      var(--color-orange-secundary),
      var(--color-orange-terciary)
    );
    border: none;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .buttonClose::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(237, 221, 186, 0.2);
    transition: width 0.3s ease;
    z-index: -1;
  }
  .buttonClose:hover {
    color: var(--color-white);
    background: linear-gradient(
      to right,
      var(--color-orange-secundary),
      var(--color-orange-terciary)
    );
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.8);
  }
  .buttonClose:hover::before {
    width: 100%;
  }
}
