@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 10% 0 10%;
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-dark-blue);
  z-index: 1;
  background-color: var(--color-white);
  padding: 1em;
  border-radius: 20px;
}
.text_aprensentation {
  color: var(--color-purple);
  font-family: var(--font-Inconsolata);
  font-size: 25px;
  position: relative;
  left: 20px;
}

.education {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.education_itens {
  display: flex;
}
.education_item {
  list-style: none;
}

.education_name_school {
  font-size: 12px;
  padding: 1em 0 1em 0;
}
.education_icon {
  width: 30px;
  height: 30px;
  margin-right: 1em;
}

.my_photo {
  width: 30%;
  z-index: 1;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 50%;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.button_contact {
  padding: 15px 30px;
  margin: 0.5em 0 1em 30%;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  background: linear-gradient(
    to right,
    var(--color-orange-secundary),
    var(--color-orange-terciary)
  );
  border: none;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.button_contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgba(237, 221, 186, 0.2);
  transition: width 0.3s ease;
  z-index: -1;
}

.button_contact:hover::before {
  width: 100%;
}

.button_contact:hover {
  color: var(--color-white);
  background: linear-gradient(
    to right,
    var(--color-orange-secundary),
    var(--color-orange-terciary)
  );
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.8);
}
.container_social_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35%;
}
.social_contact {
  display: flex;
  padding: 0.5em 1em;
}
.social_contact img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: border-color 0.3s ease;
}
.social_contact img:hover {
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.8);
  border-radius: 20%;
  cursor: pointer;
}
.topOrange {
  position: absolute;
  width: 50vw;
  height: 30vw;
  min-width: 350px;
  top: -128px;
  left: 10vw;
  border-radius: 764px;
  background: var(--color-light-purple);
  filter: blur(100px);
  z-index: 0;
}
.bottomOrange {
  position: absolute;
  width: 20vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 500px;
  right: -8vw;
  border-radius: 764px;
  background: var(--color-primary);
  filter: blur(100px);
  z-index: 0;
}
.textAnimation {
  font-size: 25px;
  font-weight: 300;
}
.textAnimation span {
  position: relative;
}

.textAnimation span::before {
  content: "";
  color: var(--color-purple);
  animation: words 15s infinite;
}
.textAnimation span::after {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 2px solid var(--color-purple);
  right: -10px;
  animation: cursor 0.6s infinite, typing 25s steps(15) infinite;
  width: 103%;
  background-color: var(--color-white);
}

@keyframes words {
  0%,
  33.33% {
    content: "Sou Carolina Sanches";
  }
  33.34%,
  66.66% {
    content: "Desenvolvedora de Software";
  }
  66.67%,
  100% {
    content: "Seja Bem Vindo ao Meu Portifólio";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: 103%;
  }
}
@keyframes cursor {
  0% {
    border-left: 2px solid var(--color-white);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    align-items: center;
  }

  .education_name_school,
  .education_name_course {
    text-align: center;
  }

  .my_photo {
    width: 50%;
    margin-bottom: 10%;
  }
  .button_contact {
    padding: 0.5em;
    margin: 1em 0 1em 0;
  }
  .container_social_contact {
    margin: 0;
  }
  .topOrange {
    left: 0;
    min-width: 200px;
  }
}
